#map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f7f7f7;
    border-radius: 6px;
    /*padding: 0 !important;*/
  }

  #map svg {
    z-index: 10;
    margin-top: 75px;
  }

  @media only screen and (max-width: 767px) {
    #map svg {
        margin-top: 150px;
      }
  }

  .recherche {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .-home .-contentList #epci_list #searchFeedback2, #searchIndication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 30px 0 0;
    text-align: center;
}


.card .badge-dark {
    right: 10px;
    float: right;
    line-height: 1.2rem;
}

.link {
  cursor: pointer;
}

.fiche-list {
  text-align: left;
  padding-left: 25px;
}

.fiche-level-1 span {
  float: right;
  padding-right: 9px;
}

.fiche-level-2.disabled {
  font-style: italic;
}
