body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.rb2 {
    padding-left: 78px;
    background: url(https://www.bretagne.bzh/app/themes/bretagne/dist/img/logo.svg) no-repeat;
    color: #fff;
}


.rb-nav {
    padding: 10px 34px;
    background-color: black;
}

.rb-title {
    font-weight: 700;
    font-family: Bretagne;
}

#epci_list {
    padding: 50px 20px 50px 20px;
}

#epci_list .btn-link {
    color: #212529;
}

.card.selected {
    border-bottom: 1px solid rgba(0,0,0,.125)!important;
}


a.fichen-link {
    color: white;
}
#epci_map{
    margin-top: 100px;
    height:600px;
}
.toolTipHovered{
    background-color: rgba(0,0,0,0.95);
    color: snow;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    border: unset;
}
#toggleButton{
    position: fixed;
    bottom: 0;
    z-index: 10;
    border-radius: 0;
}
