.-home {
  .tooltip {
    font-size: 16px !important;
  }

  .title {
    margin-top: size(42);
    &.toggled-margin {
      margin-top: size(32);
      margin-bottom: 0 !important;
    }
  }
  #epci_modal {
    .modal-header {
      .modal-title {
        font-size: size(20);
      }
    }

    a {
      display: block;
      margin-top: size(16);
      font-size: size(14);
      &:first-child {
        margin-top: 0px;
      }
    }
  }

  .-contentList {
    display: block;
    &.toggle_hide {
      display: none;
    }
    #epci_list {
      .card {
        margin: 30px 0 0;

        .card-body {
          display: flex;
          flex-direction: column;
          a {
            display: block;
            margin-top: size(16);
            &:first-child {
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}
