/**************************************************/
/************* HANDLES PROGRESSES *****************/
/**************************************************/

.progress {
  border-radius: 6rem;
}
.progress-bar {
  background: $mainColor;
  border-radius: 6rem;
}
