/**************************************************/
/****************** HANDLES FOOTER ****************/
/**************************************************/

.search-wrapper {
  &:before {
    content: '';
    position: fixed;
    //        top: 70px;
    left: 0;
    height: calc(100% - 70px);
    width: 100%;
    background: $blacksecondary;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: scaleY(0);
    transform-origin: center top;
    transition: 0.5s ease-in-out;
  }

  @media (min-width: 992px) {
    &:before {
      position: absolute;
      top: 0;
      height: 100%;
    }
  }
}
.search-container {
  .is-desktop {
    display: none;
  }

  .search-wrapper {
    //        position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 100px 0 100px;

    .pagination {
      width: 100%;
    }
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
  }
  &.is-visible {
    .search-wrapper {
      &:before {
        border-radius: 0;
        transform: scaleY(1);
        transition: 0.25s cubic-bezier(0.19, 0.13, 0.48, 1.2);
      }
    }
  }
  &.is-overflowed {
    .search-wrapper {
      overflow-y: scroll;
    }
  }

  @media (min-width: 992px) {
    top: 0;
    height: auto;

    .search-wrapper {
      //            top: 70px;
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
      max-height: 0;
      transition: 0.2s ease-in-out;
    }
    .search-input {
      margin-top: -70px;

      .retour {
        display: none;
      }
      &.is-ready {
        padding: 0;
      }
    }
    &.is-overflowed {
      .search-wrapper {
        max-height: 1080px;
        overflow-y: visible;
      }
    }
    &.is-visible {
      .search-wrapper {
        &:before {
          border-radius: 0 0 50% 50%;
          transform: scaleY(0);
          transition: 0.25s cubic-bezier(0.19, 0.13, 0.48, 1.2);
        }
      }
    }
    &.show-mask {
      .search-wrapper {
        &:before {
          border-radius: 0;
          transform: scaleY(1);
          transition: 0.25s cubic-bezier(0.19, 0.13, 0.48, 1.2);
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .is-desktop {
      display: block;
    }
    .is-mobile {
      display: none;
    }
    .search-wrapper {
      height: auto;
    }
  }
}

// Resultats de recherche
.search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;

  .row {
    justify-content: center;
    width: 100%;
    padding: 0;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.25s cubic-bezier(0.19, 0.13, 0.48, 1.2),
      opacity 0.25s cubic-bezier(0.19, 0.13, 0.48, 1.2), padding 0s 1s linear;

    &.is-visible {
      opacity: 1;
      transform: translateY(0);
    }
    &.is-hidden {
      opacity: 0;
    }

    > div:nth-child(2) {
      border-left: 1px solid #2b2b2b;
      border-right: 1px solid #2b2b2b;
    }
  }
  .noresults {
    color: #fff;
    margin-left: 15px;
    opacity: 0.5;
  }
  .item-cpt {
    margin-bottom: 20px;
    margin-left: 15px;
    font-weight: bold;

    span {
      margin-left: 10px;
      font-weight: normal;
      font-size: size(12);
      opacity: 0.5;
    }
  }
  .element {
    color: #fff;
    background: #232323;
    border-radius: 6px;
    transition: 0.25s cubic-bezier(0.19, 0.13, 0.48, 1.2);

    & + .element {
      margin-top: 10px;
    }

    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      min-height: 70px;
      padding: 10px 15px;
      color: $white;
      text-decoration: none;
    }
    .item-btn {
      display: none;
      width: 100%;
    }
  }
  .element-inner {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
  }
  .item-content {
    width: calc(100% - 60px);

    &.no-image {
      width: 100%;

      .post-type {
        margin-top: 15px;
      }
    }
  }
  .title {
    h3 {
      margin: 0;
      font-size: size(14);
      font-weight: bold;
    }
  }
  .post-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: size(12);

    .type {
      font-style: italic;
      opacity: 0.5;
      line-height: 1.2;
    }
    .category {
      margin-left: 10px;
      border: none;
      background: rgba(255, 255, 255, 0.18);
      font-weight: normal;
      font-size: size(10);
    }
    .breadcrumb-wrapper {
      width: 100%;
    }
    .breadcrumb {
      margin: 0;
      line-height: 1.2;
      opacity: 0.5;
    }
  }
  .item-image {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 20px;

    img {
      display: block;
    }
    .image-elu {
      display: block;
      width: 50px;
      padding-top: 50px;
      background-size: cover;
      background-position: center 18%;
      border-radius: 50%;
    }
    .item-icone {
      height: 50px;
      width: 50px;
      color: #fff;
      background: $mainColor;
      border-radius: 50%;
      text-align: center;

      [class^='icon-'],
      [class*=' icon-'] {
        line-height: 50px;
        font-size: size(32);
      }
    }
  }
  .btn-container {
    margin-top: 30px;
    text-align: center;

    a {
      display: inline-block;
      color: $mainColor;
      text-decoration: none;
    }
  }

  @media (min-width: 992px) {
    .item-content {
      &.no-image {
        .post-type {
          margin-top: 2px;
        }
      }
    }
    .element {
      background: transparent;

      &:hover {
        background: #232323;
      }

      + .element {
        margin: 0;
      }
    }
    .title {
      + .post-type {
        margin-top: 2px;
      }
    }
    .post-type {
      display: block;
    }
    .btn-container {
      margin-top: 20px;
      text-align: right;
    }
    .row {
      .show-mask & {
        padding: 50px 0;
        transition: transform 0.25s cubic-bezier(0.19, 0.13, 0.48, 1.2),
          opacity 0.25s cubic-bezier(0.19, 0.13, 0.48, 1.2), padding 0s linear;
      }
    }
  }
}
#search{
  &::-webkit-search-cancel-button{
    position:relative;
    right:15px;
    &:hover{
      cursor: pointer;
    }
  }
}
