/**************************************************/
/****************** HANDLES COLORS ****************/
/**************************************************/

// MAIN COLOR
$mainColor: #5a9eaa;
$mainColorHover: #49828d;

// EVENT COLORS
$colorWarning: #cf7a26;
$colorDanger: #b0252e;
$colorSuccess: #6e8325;
$colorInfo: #4c74b5;

// GREY PALETTE
$white: #fff;
$black: #000;
$blacksecondary: #121212;
$blackwithOpacity: rgba(0, 0, 0, 0.9);
$colorGrey: #232323;
$colorGrey2: #333333;
$colorGrey3: #555555;
$colorGrey4: #777777;
$colorGrey5: #999999;
$colorGrey6: #bbbbbb;
$lightGrey: #f7f7f7;
$colorDark: #121212;

// COLOR PALETTE
$colorRougeClair: #c18a7e;
$colorRouge: #b0252e;
$colorRougeFonce: #641814;
$colorOrangeClair: #d5b082;
$colorOrange: #cf7a26;
$colorOrangeFonce: #7d4c14;
$colorJauneClair: #eed969;
$colorJaune: #e3c213;
$colorJauneFonce: #998608;
$colorVertClair: #c1ca90;
$colorVert: #9fb935;
$colorVertFonce: #6e8225;
$colorEmeraudeClair: #8eb9c5;
$colorEmeraude: #0094ab;
$colorEmeraudeFonce: #005a66;
$colorBleuClair: #a5b3d9;
$colorBleu: #4c74b5;
$colorBleuFonce: #2f476c;
$colorIndigoClair: #7e7dab;
$colorIndigo: #2a317e;
$colorIndigoFonce: #18194a;
$colorMagentaClair: #ba88a4;
$colorMagenta: #b0006b;
$colorMagentaFonce: #69003f;
$colorBzh: #5a9eaa;
$colorBzhFonce: #49828d;

// SHADOWS
$shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
$shadowHover: 0px 3px 6px rgba(0, 0, 0, 0.35);
